<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>list</title>
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/theme.css" rel="stylesheet">
    <link rel="stylesheet" href="http://static.uc108.com/cdn/webuploader/0.1.5/webuploader.dz.css"/>
    <link rel="stylesheet" href="http://static.tcy365.com/cdn/component/miniMsg/1.3.0/src/css/minimsg.css"/>
</head>
<body>
<div id="app" class="container-fluid">
    <a class="btn btn-warning pull-right" :href="href">
        <span class="glyphicon glyphicon-random"></span>
        切换系统（当前系统：{{os}}）
    </a>
  <router-view>
  </router-view>
</div>
<script src="http://static.tcy365.com/cdn/jquery/2.1.0/jquery.js"></script>
<script src="http://static.tcy365.com/cdn/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://static.tcy365.com/cdn/component/popover-confirm/1.2.1/popover-confirm-umd.js"></script>
<script src="http://static.tcy365.com/cdn/component/miniMsg/1.3.0/src/js/miniMsg-umd.js"></script>
<script src="http://static.uc108.com/cdn/webuploader/0.1.5/webuploader.html5only.min.js"></script>
<%= htmlWebpackPlugin.options.script %>
</body>
</html>
